// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-light-black: #393939;
$color-concrete: #f2f2f2;
$color-mine-shaft: #333333;
$color-tundora: #404040;
$color-silver: #cccccc;
$color-blue-shine: #33bdd8;
$color-dodger-blue: #1890ff;
$color-cyan-aqua-v2: #00bfd8;
$color-cerulean: #00bfd8;
$color-green: #34a853;
$color-aqua-blue: #00ceff;
$color-pass-french: #f3f3f3;
$color-checkbox: #33bdd8;

// Font sizes
$font-size-default: 14px; 